@charset "UTF-8";
/* основной цвет текста #212121  */
/* вторичный цвет текста #757575 */
/* вторичный цвет фона #F5F4FA */
/* цвет иконок #afb1b8 */
/* акцент #2196F3 */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --color-icon: #afb1b8;
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

.social__link, .advantages__background, .clients__link, .modal__button, .modal__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: var(--primary-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: var(--font-weight-bold);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: currentColor;
}

.social__link {
  width: 44px;
  height: 44px;
  color: var(--color-icon);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.logo {
  color: #000000;
  font-family: var(--secondary-font-family);
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.5;
  text-decoration: none;
}

.logo__first-part {
  color: var(--accent-color);
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__link {
  position: relative;
  display: inline-block;
  color: var(--primary-text-color);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link:hover, .page-header__link:focus {
  color: var(--accent-color);
}

.page-header__link--active {
  color: var(--accent-color);
}

.page-header__link--active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.page-header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
  font-weight: var(--font-weight-medium);
  line-height: 1.4;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__contact:hover, .page-header__contact:focus {
  color: var(--accent-color);
}

.page-header__contact-icon {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .page-header__menu-button {
    padding: 10px 0;
    outline: none;
    border: none;
    background: none;
  }
  .page-header__menu-icon {
    display: block;
  }
  .page-header__menu-icon:active {
    fill: var(--accent-color);
  }
  .page-header__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
  }
  .page-header__menu.is-open {
    opacity: 1;
    pointer-events: initial;
  }
  .page-header__icon-close {
    opacity: 0;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-open .page-header__icon-close {
    opacity: 1;
  }
  .is-open .page-header__hamburger {
    opacity: 0;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-header__navigation {
    margin-bottom: 60px;
  }
  .page-header__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .page-header__link {
    font-size: 18px;
    line-height: 1.17;
  }
  .page-header__link--active::after {
    margin-top: 8px;
  }
  .page-header__contact:first-child {
    margin-bottom: 16px;
  }
  .page-header__contact {
    display: block;
    font-size: 18px;
    line-height: 1.17;
    font-weight: var(--font-weight-medium);
  }
}

@media screen and (min-width: 768px) {
  .page-header__menu-button {
    display: none;
  }
  .page-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .page-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .page-header__item {
    margin-right: 50px;
  }
  .page-header__item:last-child {
    margin-right: 0;
  }
  .page-header__link--active::after {
    position: absolute;
    bottom: -1px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .page-header__contact:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
  .page-header__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-header__contact:first-child {
    margin-right: 30px;
  }
}

.hero {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #2f303a;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .hero {
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/hero-480.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-480.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/hero-960.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-960.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/hero-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-768.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/hero-1536.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-1536.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/hero-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-1600.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/hero-3200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-3200.jpg);
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.advantages__background {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__description {
  color: var(--secondary-text-color);
  line-height: 1.7;
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__item {
    -ms-flex-preferred-size: calc(100% / 2 - 15px);
        flex-basis: calc(100% / 2 - 15px);
  }
  .advantages__item:nth-child(odd) {
    margin-right: 30px;
  }
  .advantages__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 0;
  }
  .advantages__item {
    margin-bottom: 0;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-list__item {
  -ms-flex-preferred-size: calc(100% / 3 - 20px);
      flex-basis: calc(100% / 3 - 20px);
  position: relative;
}

.works-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  line-height: 1.4;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-bg-color);
}

.team__item {
  padding-bottom: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .team__item {
    margin-bottom: 30px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: var(--font-weight-medium);
}

.team__career {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-weight: var(--font-weight-regular);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__item {
    -ms-flex-preferred-size: calc(100% / 2 - 15px);
        flex-basis: calc(100% / 2 - 15px);
  }
  .team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients__item {
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc(100% / 6 - 30px);
  }
}

.clients__link {
  height: 90px;
  color: var(--color-icon);
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #ffffff;
  text-align: center;
}

.footer__logo {
  color: #ffffff;
}

.footer__contacts {
  margin-bottom: 60px;
}

.footer__social {
  margin-bottom: 60px;
}

.footer__call {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-address {
  margin-top: 20px;
}

.footer-address__item:not(:first-child) {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address__link:hover, .footer-address__link:focus {
  color: var(--accent-color);
}

.social__item--grey-bg {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon--white {
  color: #ffffff;
}

.footer__input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.button__icon {
  margin-left: 10px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__contacts {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__contacts {
    margin-bottom: 0;
  }
  .footer__social {
    margin-bottom: 0;
  }
  .footer__contacts {
    margin-right: 70px;
  }
  .footer__sub {
    margin-left: auto;
  }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__input {
    width: 358px;
    margin-right: 12px;
  }
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .modal {
    width: calc(100% - 15px);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal__button:focus, .modal__button:hover {
  fill: var(--accent-color);
}

.modal__call {
  display: inline-block;
  margin-bottom: 12px;
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 1.5;
}

.modal__item {
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__title {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__option {
  position: relative;
  display: block;
}

.modal__comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment:focus {
  border-color: var(--accent-color);
}

.modal__agreement {
  position: relative;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.7;
  color: var(--secondary-text-color);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .modal__agreement {
    font-size: 14px;
  }
}

.modal__check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal__check:checked + .modal__checkbox {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-origin: border-box;
  border: none;
}

.modal__checkbox {
  display: block;
  min-width: 16px;
  min-height: 15px;
  margin-right: 7px;
  background-color: #fff;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.modal__contract {
  color: var(--accent-color);
}

.button--center {
  display: block;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.projects__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .filter__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.projects__button {
  padding: 6px 22px;
  font-family: var(--primary-font-family);
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__button:hover, .projects__button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects__button--active {
  color: #ffffff;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .projects__filter {
    margin-bottom: 40px;
  }
  .projects__cards-item {
    margin-bottom: 30px;
  }
  .projects__cards-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .projects__filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .projects__cards-item {
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__filter {
    margin-bottom: 30px;
  }
  .projects__cards-item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .projects__filter {
    margin-bottom: 50px;
  }
  .projects__cards-item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.card__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__head {
  position: relative;
  overflow: hidden;
}

.card__description {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover .card__description,
.card__link:focus .card__description {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card__bottom {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card__title {
  margin-bottom: 4px;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.card__paragraph {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */