.advantages {
  &__background {
    @extend %flex-center;
    padding: 25px 100px;
    margin-bottom: 30px;

    background-color: var(--secondary-bg-color);
  }

  &__title {
    margin-bottom: 10px;

    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__description {
    color: var(--secondary-text-color);
    line-height: 1.7;
  }
}

.advantages__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__list {
    flex-wrap: wrap;
  }

  .advantages__item {
    flex-basis: calc(100% / 2 - 15px);
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 0;
  }
  .advantages__item {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
